<main>
  <div id="cart_id" style="display: none;">{{user.cart}}</div>
  <div class="container">
    <div>
      <h3>{{response.title}}</h3>
      <p>{{response.description}}</p>
      <h3>${{response.price}}</h3>
      <button
        id="addProduct__btn"
        value={{response._id}}
      >Agregar al carrito</button>
    </div>
    <div>
      <img src={{response.thumbnail}} alt={{response.title}}/>
    </div>
  </div>
</main>
<script src="../../public/js/product.js"></script>